<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar" data-dojo-props="region:'top'">
  <div id="bv-brc-header" role="heading" aria-level="1">
    <div id="bv-brc-header-container">
      <div class="nav-logo">
        <a class="nav-logo-link min-x-50" href="/">
          <img class="h-[40px] mt-[10px] text-[var(--maage-secondary-500)]" src="/maage/img/logos/maage-logo-temp.png"
            alt="Midwest Alliance for Applied Genomic Epidemiology (MAAGE) Logo">
          <span class="font-poppins font-light text-[42px] text-[var(--maage-secondary-800)]">MA</span>
          <span class="font-poppins font-semibold text-[42px] text-[var(--maage-secondary-600)]">AGE</span>
        </a>
      </div>
      <div id="header-navbar">
        <span class="fa-regular fa-chevron-down"></span>
        <div class="topMenuButton showOnLoad dijitHidden maage-nav-menu" data-dojo-type="dijit/form/DropDownButton">
          <span class="navigation-item" style="display: flex; align-items: center;">
            <span class="heading-text-reset-hard">
              <span class="heading-text-reset-hard">
                Organisms
              </span>
            </span>
            <i data-lucide="chevron-down" class="h-5 w-5 ml-1"></i>
          </span>
          <div data-dojo-type="p3/widget/TooltipDialog">
            <div style="display:flex;gap:15px;">
              <div style="width:445px;">
                <div class="menuHeader maage-menu-header">Bacterial Pathogens</div>
                <div style="display:flex;gap:5px;">
                  <div style="width:220px;">
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/520#view_tab=overview">Bordetella pertussis</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/29459#view_tab=overview">Brucella melitensis</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/197#view_tab=overview">Campylobacter jejuni</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/835#view_tab=overview">Chlamydia psittaci</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/813#view_tab=overview">Chlamydia trachomatis</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/1717#view_tab=overview">Corynebacterium diphtheriae</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/777#view_tab=overview">Coxiella burnetii</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/562#view_tab=overview">Escherichia coli</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/263#view_tab=overview">Francisella tularensis</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/727#view_tab=overview">Haemophilus influenzae</a></div>
                  </div>
                  <div style="width:220px;">
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/446#view_tab=overview">Legionella pneumophila</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/173#view_tab=overview">Leptospira interrogans</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/1639#view_tab=overview">Listeria monocytogenes</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/1769#view_tab=overview">Mycobacterium leprae</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/487#view_tab=overview">Neisseria meningitidis</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/28901#view_tab=overview">Salmonella enterica</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/1280#view_tab=overview">Staphylococcus aureus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/666#view_tab=overview">Vibrio cholerae</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/632#view_tab=overview">Yersinia pestis</a></div>
                  </div>
                </div>
              </div>
              <div style="width:445px;">
                <div class="menuHeader maage-menu-header">Viruses</div>
                <div style="display:flex;gap:5px;">
                  <div style="width:220px;">
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/12637#view_tab=overview">Dengue virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11080#view_tab=overview">Eastern equine encephalitis virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/1980471#view_tab=overview">Hantavirus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/12092#view_tab=overview">Hepatitis A virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/10407#view_tab=overview">Hepatitis B virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11103#view_tab=overview">Hepatitis C virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11320#view_tab=overview">Influenza A virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11520#view_tab=overview">Influenza B virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11089#view_tab=overview">La Crosse virus</a></div>
                  </div>
                  <div style="width:220px;">
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11234#view_tab=overview">Measles virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/10244#view_tab=overview">Mpox virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11245#view_tab=overview">Mumps virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/12059#view_tab=overview">Poliovirus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11292#view_tab=overview">Rabies virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11250#view_tab=overview">Respiratory syncytial virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11041#view_tab=overview">Rubella virus</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/2697049#view_tab=overview">SARS-CoV-2</a></div>
                    <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/view/Taxonomy/11082#view_tab=overview">West Nile virus</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div style="display:flex;justify-content:center;gap:20px;margin-top:10px;padding-top:8px;border-top:1px solid #548fa6;">
              <a class="navigationLink maage-nav-link" href="/view/Taxonomy/2#view_tab=genomes">All Bacteria</a>
              <a class="navigationLink maage-nav-link" href="/view/Taxonomy/2#view_tab=genomes&filter=or(eq(reference_genome,%22Reference%22),eq(reference_genome,%22Representative%22))">Reference Bacteria</a>
              <a class="navigationLink maage-nav-link" href="/view/Taxonomy/10239#view_tab=genomes">All Viruses</a>
              <a class="navigationLink maage-nav-link" href="/view/Taxonomy/10239#view_tab=genomes&filter=or(eq(reference_genome,%22Reference%22),eq(reference_genome,%22Representative%22))">Reference Viruses</a>
            </div>
          </div>
        </div>
        <div class="topMenuButton showOnLoad dijitHidden maage-nav-menu" data-dojo-type="dijit/form/DropDownButton">
          <span class="navigation-item" style="display: flex; align-items: center;">
            <span class="heading-text-reset-hard">
              Searches
            </span>
            <i data-lucide="chevron-down" class="h-5 w-5 ml-1"></i>
          </span>
          <div data-dojo-type="p3/widget/TooltipDialog">
            <div class="menuHeader maage-menu-header" style="padding-right: 20px;">Advanced Search</div>
            <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/searches/TaxaSearch">Taxa</a>
            </div>
            <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                href="/searches/GenomeSearch">Genomes</a></div>
            <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                href="/searches/GenomicFeatureSearch">Features</a></div>
            <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                href="/searches/SpecialtyGeneSearch">AMR &amp; Virulence Genes</a></div>
          </div>
        </div>
        <div class="topMenuButton showOnLoad dijitHidden maage-nav-menu" data-dojo-type="dijit/form/DropDownButton">
          <span class="navigation-item" style="display: flex; align-items: center;">
            <span class="heading-text-reset-hard">
              Tools
            </span>
            <i data-lucide="chevron-down" class="h-5 w-5 ml-1"></i>
          </span>
          <div data-dojo-type="p3/widget/TooltipDialog">
            <div>
              <div style="vertical-align: top;width:250px;margin-right:5px;display:inline-block">
                <div class="menuHeader maage-menu-header">Genomics</div>
                <div class="menuItems">
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/Assembly2">Genome
                      Assembly</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/Annotation">Genome
                      Annotation</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/ComprehensiveGenomeAnalysis">Comprehensive Genome Analysis</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/Homology">BLAST</a>
                  </div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/GenomeDistance">Similar Genome Finder</a></div>
                </div>
                <div class="menuHeader maage-menu-header">Phylogenomics</div>
                <div class="menuItems">
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/PhylogeneticTree">Bacterial Genome Tree</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/ViralGenomeTree">Viral
                      Genome Tree</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/GeneTree">Gene/Protein
                      Tree</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/CoreGenomeMLST">Core
                      Genome MLST</a>
                  </div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/WholeGenomeSNPAnalysis">Whole Genome SNP Analysis</a></div>
                </div>
                <div class="menuHeader maage-menu-header">Protein Tools</div>
                <div class="menuItems">
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/app/MSA">MSA and SNP
                      Analysis</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/SeqComparison">Proteome Comparison</a></div>
                </div>
              </div>
              <div style="vertical-align:top;width:250px;display:inline-block">
                <div class="menuHeader maage-menu-header">Metagenomics</div>
                <div class="menuItems">
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/TaxonomicClassification">Taxonomic Classification</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/MetagenomicBinning">Metagenomic Binning</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/MetagenomicReadMapping">Metagenomic Read Mapping</a></div>
                </div>
                <br>
                <div class="menuHeader maage-menu-header">Viral Tools</div>
                <div class="menuItems">
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/ComprehensiveSARS2Analysis">SARS-CoV-2 Genome Analysis</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/SARS2Wastewater">SARS-CoV-2 Wastewater Analysis</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/app/SubspeciesClassification">Subspecies Classification</a></div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
          <span class="navigation-item" style="display: flex; align-items: center;">
            <span class="heading-text-reset-hard">
              Workspaces
            </span>
            <i data-lucide="chevron-down" class="h-5 w-5 ml-1"></i>
          </span>
          <div data-dojo-type="p3/widget/TooltipDialog">
            <div>
              <div style="vertical-align: top;width:175px;display:inline-block">
                <div class="ShowWithAuth">
                  <div><i class="fa icon-caret-down fa-1x noHoverIcon" style="color:#333;cursor:normal;"></i>&nbsp;<a
                      class="navigationLink" id="YourWorkspaceLink">Workspaces</a></div>
                  <div id="YourWorkspaces"></div>
                </div>
                <div style="vertical-align:top;display:inline-block" class="ShowWithAuth">
                  <div class="maage-nav-item">
                    <a class="navigationLink maage-nav-link" href="/job/">My Jobs</a>
                  </div>
                  <div class="maage-nav-item">
                    <a class="navigationLink maage-nav-link" href="/view/GenomeList/?eq(public,false)">My Genomes</a>
                  </div>
                  <hr>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link" href="/workspace/public">Public
                      Workspaces</a></div>
                  <div class="maage-nav-item"><a class="navigationLink maage-nav-link"
                      href="/workspace/public/maage@bvbrc/MAAGE%20Workshop">MAAGE
                      Workshop</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="topMenuButton showOnLoad dijitHidden maage-nav-menu" data-dojo-type="dijit/form/DropDownButton">
          <span class="navigation-item" style="display: flex; align-items: center;">
            <span class="heading-text-reset-hard">
              About
            </span>
            <i data-lucide="chevron-down" class="h-5 w-5 ml-1"></i>
          </span>
          <div data-dojo-type="p3/widget/TooltipDialog">
            <div class="menuHeader">MAAGE</div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="/about">About Us</a>
            </div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="/team">Our Team</a>
            </div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="/advisory-boards">Advisory Boards</a>
            </div>
            <div style="height: 0.5px; background-color: #548fa6; margin: 0.6rem 0;"></div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="/announcements">Announcements</a>
            </div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="/calendar">Events</a>
            </div>
            <div style="height: 0.5px; background-color: #548fa6; margin: 0.6rem 0;"></div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="https://www.maage-brc.org/docs/">Documentation</a>
            </div>
            <div class="maage-nav-item">
              <a class="maage-nav-link" href="/related-resources">Related Resources</a>
            </div>
            <div class="maage-nav-item">
              <a class="maage-nav-link navigationLinkOut" href="https://github.com/MAAGE-BRC" target="_blank"
                rel="noopener">GitHub</a>
            </div>
            <div style="height: 0.5px; background-color: #548fa6; margin: 0.6rem 0;"></div>
            <div class="maage-nav-item">
              <a class="maage-nav-link cursor-pointer DialogButton" rel="reportProblem:">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div id="bv-brc-right-header">
        <div class="HideWithAuth authLinks showOnLoad dijitHidden">
          <a class="navigationLink login-btn" href="/register">Register</a>
          <a class="navigationLink register-btn" href="/login">Login</a>
        </div>
        <div class="showOnLoad ShowWithAuth dijitHidden">
          <div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon" data-dojo-type="dijit/form/DropDownButton">
            <i data-lucide="user" class="h-8 w-8 text-[#f5f5f5]"></i>
            <div data-dojo-type="p3/widget/TooltipDialog">
              <div class="maage-nav-item" style="font-family: 'Inter'; font-weight: normal; font-size: 15px;">Hello,
                <span id="signedInAs" style="font-family: 'Inter'; font-weight: bold; font-size:15px;"></span>
              </div>
              <hr>
              <div class="maage-nav-item" style="margin-top: 4px;"><a class="userProfile maage-nav-link">Account
                  Settings <i class="warning_icon account-settings-warning icon-warning fa fa-1x"
                    style="vertical-align:middle;">
                  </i></a></div>
              <div class="maage-nav-item"><a class="sulogin maage-nav-link">SU Login</a></div>
              <div class="maage-nav-item"><a class="suSwitchBack" onclick="window.App.suSwitchBack()"
                  style="display:none">SU Switch Back</a>
              </div>
              <div class="maage-nav-item"><a class="logoutLink maage-nav-link" onclick="window.App.logout()">Logout</a>
              </div>
            </div>
          </div>
        </div>
        <div id="mobile-nav-icon">
          <button class="hamburger-icon" onclick="toggleMenu()">
            <span class="icon-bars fa-2x"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>